/* https://colorhunt.co/palette/1d5d9b75c2f6f4d160fbeeac */

:root {
    --main: #1D5D9B;
    --main-shadow: #1a5087;
    --secondary: #F4D160;
    --accent: #75C2F6;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: auto;
}

body {
    background-color: var(--accent);
}

body * {
    font-family: 'Inter', sans-serif;
    color: white;
    letter-spacing: 2px;
}

#app {
    height: 100vh;
}
